<% content_for :title, "New Purchase Order" %>

<div class="page-container--narrow">
  <div class="content-section">
    <h1 class="page-title">New Purchase Order</h1>
    <p class="page-subtitle">Create a draft purchase order to send to Zenventory</p>
  </div>

  <%= render "form", purchase_order: @purchase_order %>
</div>
