<% content_for :title, "New SKU" %>

<div class="page-container--narrow">
  <h1 class="page-title" style="margin-bottom: 24px;">New SKU</h1>

  <%= render "form", warehouse_sku: @warehouse_sku %>

  <div style="margin-top: 32px;">
    <%= render Primer::Beta::Button.new(tag: :a, href: warehouse_skus_path, scheme: :invisible, size: :small) do |btn|
      btn.with_leading_visual_icon(icon: :"arrow-left")
      "Back to SKUs"
    end %>
  </div>
</div>
