<% content_for :title, "New Payment Account" %>

<div class="page-container--xs">
  <h1 class="page-title" style="margin-bottom: 24px;">New USPS Payment Account</h1>
  <%= render "form", usps_payment_account: @usps_payment_account %>
  <div style="margin-top: 32px;">
    <%= render Primer::Beta::Button.new(tag: :a, href: usps_payment_accounts_path, scheme: :invisible, size: :small) do |btn|
      btn.with_leading_visual_icon(icon: :"arrow-left")
      "Back to payment accounts"
    end %>
  </div>
</div>
