.float-right {
    float: right;
}

.pointer {
    cursor: pointer;
}


.admin-tool {
    border: 1.5px dashed orange;
    border-radius: 7px;
    padding: 2px;
    background-color: rgba(255,140,55,.063);
}

.dev-tool {
    border: 1.5px dashed lawngreen;
    border-radius: 7px;
    padding: 2px;
}

.back-office-tool {
    border: 1.7px dashed rgb(0, 0, 0);
    padding: 2px;
}

span.admin-tool {
    border-radius: 8px;
    padding: 3px 2px;
}

.dev-border-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 9999;
    border: 5px dashed #00FF00;
    box-sizing: border-box;
}

#confetti {
    pointer-events: none;
}

.w-100 {
    width: 100%;
}