<% content_for :head do %>
  <%= vite_javascript_tag "qz" %>
  <%= vite_javascript_tag "instant_print" %>
<% end %>
<article class="breathe-green" style="margin-top: 24px;">
  <h3>printing but way quicker:</h3>
  <%= content_tag("div", id: "instant_print_root", data: { url:,  print_now: params[:print_now] }.compact_blank) { } %>
  <div id="instant_print_root" data-url="<%= url %>">
  </div>
</article>