<% content_for :head do %>
  <%= vite_javascript_tag "taggable" %>
<% end %>

<% selected_tags = taggable.try(:tags) || [] %>
<% all_tags = available_tags(selected_tags) %>

<div class="FormControl mb-3">
  <%= form.label :tags, "Tags", class: "FormControl-label" %>
  <%= form.select :tags,
                  all_tags,
                  { selected: selected_tags, include_blank: false },
                  { multiple: true,
                    class: "selectize-tags width-full",
                    data: {
                      selectize: {
                        plugins: ['remove_button'],
                        persist: false,
                        create: true,
                        maxItems: nil
                      }
                    }
                  } %>
  <p class="FormControl-caption">Select from common tags or create your own</p>
</div>
