<% content_for :title, "New order" %>

<div class="page-container--narrow">
  <h1 class="page-title" style="margin-bottom: 24px;">New order</h1>

  <%= render "form", warehouse_order: @warehouse_order %>

  <div style="margin-top: 32px;">
    <%= render Primer::Beta::Button.new(tag: :a, href: warehouse_orders_path, scheme: :invisible, size: :small) do |btn|
      btn.with_leading_visual_icon(icon: :"arrow-left")
      "Back to orders"
    end %>
  </div>
</div>
