<% content_for :title, "Print Settings" %>
<%= content_for :head do %>
  <%= vite_javascript_tag "qz" %>
  <%= vite_javascript_tag "qz_settings" %>
<% end %>

<div class="page-container--narrow">
  <div class="content-section">
    <h1 class="page-title">Print Settings</h1>
    <p class="page-subtitle">
      Powered by <%= link_to "QZ Tray", "https://qz.io/", target: "_blank" %>
    </p>
  </div>

  <div id="dl_root"></div>
</div>
