<% content_for :title, "Mail Scanner" %>

<div style="max-width: 1200px; margin: 0 auto; padding: 24px;">
  <div
    data-svelte-component="mail-scanner"
    data-csrf-token="<%= form_authenticity_token %>"
    data-initial-mode="keyboard"
  ></div>
</div>
