<% content_for :title, "New Template" %>

<div class="page-container--narrow">
  <h1 class="page-title content-section">New Template</h1>

  <%= render "form", warehouse_template: @warehouse_template %>

  <div class="back-link">
    <%= render Primer::Beta::Button.new(tag: :a, href: warehouse_templates_path, scheme: :invisible, size: :small) do |btn|
      btn.with_leading_visual_icon(icon: :"arrow-left")
      "Back to templates"
    end %>
  </div>
</div>
