<% content_for :title, "Edit Indicium" %>

<div class="page-container--xs">
  <div class="page-title-group" style="margin-bottom: 24px;">
    <h1 class="page-title">Edit Indicium</h1>
    <span class="kv-label"><%= render Components::Shared::PublicId.new(value: @usps_indicium.public_id) %></span>
  </div>
  <%= render "form", usps_indicium: @usps_indicium %>
  <div style="margin-top: 32px;">
    <%= render Primer::Beta::Button.new(tag: :a, href: usps_indicium_path(@usps_indicium), scheme: :invisible, size: :small) do |btn|
      btn.with_leading_visual_icon(icon: :"arrow-left")
      "Back to indicium"
    end %>
  </div>
</div>
