<% content_for :title, "Letter Batches" %>
<% content_for :dropzone_config do %>data-dropzone-redirect-url-value="<%= new_letter_batch_path %>" data-dropzone-redirect-title-value="Drop CSV to create letter batch"<% end %>
<div class="container">
  <div class="page-header">
    <h1 class="page-title">Letter Batches</h1>
    <div class="actions">
      <%= create_button new_letter_batch_path, "new batch!" %>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <% if @batches.any? %>
        <%= render partial: 'letter/batches/batches_collection', locals: { batches: @batches } %>
      <% else %>
        <p class="text-muted">No letter batches found.</p>
      <% end %>
    </div>
  </div>
</div>