<div class="index-card">
  <div class="resource-card">
    <div>
      <a href="<%= source_tag_path(source_tag) %>" class="index-card-title"><%= source_tag.name %></a>
      <code class="resource-card-meta resource-card-meta--inline"><%= source_tag.slug %></code>
    </div>
    <% if source_tag.owner.present? %>
      <span class="resource-card-meta"><%= source_tag.owner %></span>
    <% end %>
  </div>
</div>
