<% content_for :title, "Edit Source Tag" %>

<div class="page-container--xs">
  <div class="page-title-group" style="margin-bottom: 24px;">
    <h1 class="page-title">Edit Source Tag</h1>
    <code class="kv-label"><%= @source_tag.slug %></code>
  </div>

  <%= render "form", source_tag: @source_tag %>

  <div style="margin-top: 32px;">
    <%= render Primer::Beta::Button.new(tag: :a, href: source_tag_path(@source_tag), scheme: :invisible, size: :small) do |btn|
      btn.with_leading_visual_icon(icon: :"arrow-left")
      "Back to source tag"
    end %>
  </div>
</div>
