<% content_for :title, "New Source Tag" %>

<div class="page-container--xs">
  <h1 class="page-title content-section">New Source Tag</h1>

  <%= render "form", source_tag: @source_tag %>

  <div class="back-link">
    <%= render Primer::Beta::Button.new(tag: :a, href: source_tags_path, scheme: :invisible, size: :small) do |btn|
      btn.with_leading_visual_icon(icon: :"arrow-left")
      "Back to source tags"
    end %>
  </div>
</div>
